<div class="footer container-fluid mt-3">
  <div class="row navbar navbar-expand navbar-dark bg-primary">
    <div class="col-9 bg-red">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="/wip" class="nav-link"> Qui sommes nous ?</a>
        </li>
        <li class="nav-item">
          <a routerLink="/wip" class="nav-link">Support</a>
        </li>
        <li class="nav-item">
          <a routerLink="/wip" class="nav-link">Mentions Légales</a>
        </li>
      </ul>
    </div>
    <div class="col-3">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="https://www.facebook.com/ikigai.games" class="nav-link">
            <fa-icon [icon]="faFacebook"></fa-icon>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://twitter.com/ikigai_games" class="nav-link">
            <fa-icon [icon]="faTwitter"></fa-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
