<section class="home-page">
  <div class="ikigai">
    <h3 class="ms-3 my-4">Bienvenue sur Ikigai</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias consequuntur eaque error ex, fuga harum inventore necessitatibus praesentium quo repudiandae sed similique vitae. Autem esse ipsum possimus qui reiciendis repellendus veniam. Accusantium, atque beatae doloribus ducimus enim fuga, fugit illo inventore, iste natus nobis nulla numquam odit quaerat recusandae rerum sunt. Dignissimos nesciunt quos ut? Ab, aperiam assumenda consequatur cum dolore doloremque ex excepturi exercitationem expedita illo in maxime modi molestiae, nesciunt non officiis praesentium quas quasi quibusdam quis reiciendis repellat repellendus, sint sunt tempore tenetur voluptates? Ab aliquid aspernatur assumenda blanditiis earum eveniet ipsum officiis porro sed, voluptas.</p>
  </div>
  <div class="separator w-100"></div>
  <div class="spotlight">
    <app-spotlight></app-spotlight>
  </div>
  <div class="separator w-100"></div>
  <app-game-list></app-game-list>
</section>
